body {
  background: linear-gradient(50deg, #062942 50%,  #000000 90%);
  background-attachment: fixed;
}

.landing-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}

.logo {
  height: 50%;
}

.banner-group {
  flex: 1;
}

.forma1 {
  background: linear-gradient(#5588f2, #52acec);
  transform: skew(-17deg);
  z-index: 1;
  width: 10px;
  height: 140px;
  
}

.forma1::before {
  content: '';
  display: table;
  width: 70%;
  height: 100%;
  background-color: #aaffff;
}

.forma2 {
  background: linear-gradient(#53a6ee, #52acec);
  height: 20px;
  width: 53px;
  transform: skew(-17deg);
  z-index: 1;
}

.forma3 {
  width: 37px;
  height: 270px;
  transform: skew(17deg);
  background: linear-gradient(#5680f3, #549cef, #50cfe8, #4ef7e1);
}

.forma3::before {
  background-color: #aaffff;
  content: '';
  display: table;
  width: 30%;
  height: 100%;
}

/*
.forma3 {
  width: 37px;
  height: 270px;
  position: absolute;
  top: 60px;
  left: 175px;
}

.forma3::before {
  background-color: #aaffff;
  content: '';
  display: table;
  position: relative;
  width: 10px;
  height: 270px;
  left: -8px;
}



/*
.forma1 {
  background: linear-gradient(#5588f2, #52acec);
  width: 13px;
  height: 189px;
  position: absolute;
  top: 202px;
  left: 594px;
  transform: skew(-17deg);
  z-index: 1;
}

.forma1::before {
  content: '';
  display: table;
  position: relative;
  width: 13px;
  height: 189px;
  left: -11px;
  background-color: #aaffff;
}

.forma2 {
  background: linear-gradient(#53a6ee, #52acec);
  position: absolute;
  height: 30px;
  width: 53px;
  transform: skew(-17deg);
  top: 305px;
  left: 618px;
  z-index: 1;
}

.forma3 {
  width: 51px;
  height: 381px;
  position: absolute;
  transform: skew(17deg);
  background: linear-gradient(#5680f3, #549cef, #50cfe8, #4ef7e1);
  top: 161px;
  left: 670px;
}

.forma3::before {
  background-color: #aaffff;
  content: '';
  display: table;
  position: relative;
  width: 13px;
  height: 381px;
  left: -12px;
}


.puntos {
  height: 32px;
  position: absolute;
  transform: skew(18deg);
  animation: square-to-circle 2s 1.75s forwards ease;
}

.p1 {
  top: 304px;
  left: 718px;
  width: 110px;
  background-color: #52bfe9;
}

.p2 {
  top: 404px;
  left: 749px;
  width: 90px;
  background-color: #4eeae3;
}

.p3 {
  top: 510px;
  left: 782px;
  width: 110px;
  background-color: #4ef7e1;
}


@keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
  }

  25% {
    border-radius: 0% 0% 0% 50%;
    width: 90px;
  }

  50% {
    border-radius: 0% 0% 50% 50%;
    width: 70px;
  }

  75% {
    border-radius: 0% 50% 50% 50%;
    width: 50px;
  }

  100% {
    border-radius: 100%;
    width: 40px;
    transform: skew(0deg);
  }
}

.long {
  width: 54px;
  height: 238px;
  position: relative;
  transform: skew(17deg);
  background: linear-gradient(#52bfe9 20%, #4eeae3 30%, #4ef7e1 70%);
  top: 304px;
  left: 750px;
  animation: largo-desaparece 2s 1.75s forwards ease-in-out;
}

@keyframes largo-desaparece {

  100% {
    width: 30px;
    height: 0px;
    left: 720px;
    top: 309px;
    border-radius: 100% 0 0 0;
  }
}


.banner-group {
  display: flex;
  flex-direction: column;
}


.banner {
  height: 57px;
  width: 500px;
  display: flex;
  padding: 0 0px 0 20px;
  position: fixed;
  border: solid 2px #4ef7e1;
  transform: skew(17deg);
  align-items: center;
}

.b1 {
  left: 870px;
  top: 352px;
}

.b2 {
  top: 445px;
  left: 900px
}

.b3 {
  top: 544px;
  left: 932px
}

.banner:hover::before {
  width: 40px;
  height: 32px;
  border-radius: 100%;
  transform: skew(-17deg);
  content: '';
  position: relative;
  animation: circulos-banner 0.4s 0.2s ease-in-out forwards;
}

@keyframes circulos-banner {
  0% {
    right: 0px;
  }

  50% {
    background-color: transparent;
  }

  100% {
    right: 70px;
    background-color: #4ef7e1;
  }
}


.banner:hover::after {
  content: '';
  background-color: #4ef7e1;
  position: absolute;
  height: 57px;
  right: 0;
  z-index: -1;
  transition: 0.5s;
  animation: banner-movement 0.4s linear forwards;
}


@keyframes banner-movement {
  from {
    width: 0px;
  }

  to {
    width: 523px;
  }
}


h2 {
  transform: skew(-17deg);
  position: absolute;
  color: #4ef7e1 !important;
  transition: 1s;
}

.banner:hover h2 {
  color: #053864 !important;
}



@media (max-width: 480px) {

  .forma1 {
    width: 10px;
    height: 140px;
    position: absolute;
    top: 85px;
    left: 122px;
  }

  .forma1::before {
    content: '';
    display: table;
    position: relative;
    width: 7px;
    height: 140px;
    left: -6px;
  }

  .forma2 {
    position: absolute;
    height: 20px;
    width: 53px;
    top: 163px;
    left: 140px;
    z-index: 1;
  }

  .forma3 {
    width: 37px;
    height: 270px;
    position: absolute;
    top: 60px;
    left: 175px;
  }

  .forma3::before {
    background-color: #aaffff;
    content: '';
    display: table;
    position: relative;
    width: 10px;
    height: 270px;
    left: -8px;
  }


  .long {
    width: 35px;
    height: 167px;
    position: relative;
    top: 163px;
    left: 235px;
  }

  .puntos {
    height: 21px;
  }

  .p1 {
    top: 163px;
    left: 213px;
    width: 70px;
  }

  .p2 {
    top: 236px;
    left: 236px;
    width: 58px;
  }

  .p3 {
    top: 309px;
    left: 259px;
    width: 70px;
  }


  @keyframes square-to-circle {

    25% {
      border-radius: 0% 0% 0% 50%;
      width: 58px;
    }

    50% {
      border-radius: 0% 0% 50% 50%;
      width: 40px;
    }

    75% {
      border-radius: 0% 50% 50% 50%;
      width: 30px;
    }

    100% {
      border-radius: 100%;
      width: 22px;
      transform: skew(0deg);
    }
  }

  @keyframes largo-desaparece {

    100% {
      width: 20px;
      height: 0px;
      left: 213px;
      top: 170px;
      border-radius: 100% 0 0 0;
    }
  }

  .banner-group {
    
    align-items: center;
    justify-items: center;
  }

  .banner {
    max-height: 50px;
    max-width: 200px;
    left: 102px;
  }

  h2 {
    display: none;
  }
  
  .banner::before {
    width: 25px;
    height: 22px;
    border-radius: 100%;
    transform: skew(-17deg);
    content: '';
    position: relative;
    right: 70px;
    background-color: #4ef7e1;
  }
}
*/